@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    cursor: url(imagens/mata_mosca.png) 30 30, auto;
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(imagens/bg.jpg);
    Background-repeat: no-repeat;
    background-size: cover;
}
.mosca1{
    width: 50px;
    height: 50px;
}

.mosca2{
    width: 70px;
    height: 70px;
}

.mosca3{
    width: 90px;
    height: 90px;
}

.ladoA{
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1); /*GIRA IMAGEM*/
}

.painel{
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: 1px solid #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas{
    float: left;
}

.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}

#container{
    margin-top: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
}

#sb{
    margin-bottom: 80px;
    display: flex;
    justify-content:center;
    align-items: center;
}

#jogar{
    position: absolute;
    margin-top: 450px;
}

#btn{
    margin-top: 10px;
    margin-left: 40px;
}

#btnfim{
    position: absolute;
    top: 400px;
}

button#fim{
    width: 100px;
    height: 40px;
    border: none;
    background-color: rgba(0, 0, 0, 0.815);
    padding: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}
#btnvi{
    position: absolute;
    top: 400px;
}

button#vitoria{
    width: 120px;
    height: 50px;
    border: none;
    background-color: rgb(197, 13, 13);
    border-radius: 20px;
    color: white;
    cursor: pointer;
    margin-left: 170px;
}

button#index{ 
    width: 100px;
    height: 45px;
    border: none;
    background-color: rgba(0, 0, 0, 0.815);
    padding: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

select{
    background-color:wheat;
    border-color: brown;
    border-radius: 20px;
    padding: 10px;
}

#resp{
    color: black;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    margin-top: 10px;
}

#saibamais{
    position: absolute;
    top:0;
}

#saibamais button {
    background: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
   
}

#saibamais button:hover{
    color: black;
    background-color: white;
    border-radius: 20px;
}
